extends ./layout

block script
  //link(rel="stylesheet",href="/coop/stylesheets/jquery-ui/jquery.ui.all.css")
  script(type="text/javascript",src="/coop/javascripts/apps/require-config.js")
  script(type='text/javascript',data-main='/coop/javascripts/apps/AdminPage.js',src='/coop/components/requirejs/require.js')
  
block container
  ul.nav.nav-tabs#admin-tabs
    li
      a(href="#new-transaction",data-toggle="tab",data-view="addTransactionView") New Transaction
    li.active
      a(href="#view-families",data-toggle="tab",data-view="allFamilyView") View Families
    li
      a(href="#add-family",data-toggle="tab",data-view="addFamilyView") Add Family
    li
      a(href="#transactions",data-toggle="tab",data-view="allTransactionsView") View Transactions
    li
      a(href="#settings",data-toggle="tab",data-view="settingsView") Settings
    
    
      
  .tab-content
    .tab-pane#new-transaction
      table.table.table-bordered#new-transaction-table
        thead
          tr
            th Transfer Date
            th Transfer From
            th Transfer To
            th Points
      
        tbody
          tr
            td.span3
              div.input-append
                input.span2.transaction-date
                span.add-on
                  i.icon-calendar
            td
              select#family-from
                option
            td
              select#family-to
                option
            td
              input#points(type="text")
            
          tr
            td(colspan="4")
              button.btn#new-transaction-button Save Transaction


    .tab-pane#view-families.active
    .tab-pane#add-family
      h4 Add a Family
      table.table.table-bordered.span10
        tr
          td.header.span2 Family Name
          td.span3
            input.name.span3
          td.header.span2 Email(s)
          td.span3
            input.email.span3

        tr
          td.header.span2 Parent(s)
          td.span3
            input.parents.span3
          td.header.span2 Children
          td.span3
            input.children.span3
        tr
          td.header.span2 Date Joined
          td.span3
            div.input-append.date(data-date-format="mm/dd/yyyy")
              input.date-joined.span2
              span.add-on
                i.icon-calendar
          td.header.span2 Starting Points
          td.span3
            input.starting-points
        tr
          td
          td
          td
          td
            button.btn#add-family-button  Add Family
            
    .tab-pane#transactions
    .tab-pane#settings
      table.table.table-bordered#settings-table
        thead
          tr
            th Setting Name
            th Value
            th Description

        tbody
    
block templates
  script#family-template(type="text/template")
    label.radio.inline 
      input(type='radio',name='showType',value='all') 
      | Show All Families
    label.radio.inline 
      input(type='radio',name='showType',value='active',checked) 
      | Active Families
    label.radio.inline
      input(type='radio',name='showType',value='inactive') 
      | Inactive Families
      
    table.table.table-bordered#allFamilyTable
      thead
        tr
          th Delete/Edit/Save
          th Active
          th Family Name
          th Current Points
          th Email
          th Parents
          th Children
          th Date Joined
          th Starting Points
      tbody


  script#all-family-row-template(type="text/template")
    td
      span.btn-group
        button.btn.delete-family
          i.icon-trash
        button.btn.edit-family
          i.icon-edit
        button.btn.save-family
          i.icon-hdd
    td
      input.active(type="checkbox")
    td.editable.name
    td.current-points
    td.editable.email
    td.editable.parents
    td.editable.children
    td
      div.input-append
        input.span2.date-joined
        span.add-on
          i.icon-calendar
    td.editable.starting-points
  script#all-transactions-template(type="text/template")
    h4 View Transactions
    .transaction-choices
      label.radio.inline 
        input(type='radio',name='trans-view',value='all',checked)
        | All Transactions
      label.radio.inline
        input(type='radio',name='trans-view',value='month')
        | View on month
        input.month-view.span2.date
      label.radio.inline
        input(type='radio',name='trans-view',value='timespan')
        | View from
        input.from-time.span2.date
        | to
        input.to-time.span2.date
    .transaction-totals

    table.table.table-bordered.span10#transactions-table
      thead
        th Delete/Edit/Save
        th Points From
        th Points To
        th Number of Points
        th Date
      tbody

  script#transaction-row-template(type="text/template")
    td
      span.btn-group
        button.btn.delete-transaction
          i.icon-trash
        button.btn.edit-transaction
          i.icon-edit
        button.btn.save-transaction
          i.icon-hdd
    td
      select.family-from(disabled)
    td
      select.family-to(disabled)
    td.points
    td
      input.span2.transaction-date(disabled)

  script#help-text(type='text/template')
    p
      | Help text!!
  script(type="text/javascript")
    define('config', function() {
      return {
        families: !{JSON.stringify(families)},
        transactions: !{JSON.stringify(transactions)}
      };
    });
