extends ./layout

block script
  script(type='text/javascript',data-main='/coop/javascripts/apps/LoginPage',src='/coop/javascripts/require.js')
  
block container
  h2 JP Babysitting Co-Op Transactions

block templates
  script#help-text(type='text/template')
    p
      | Help text!!

