extends ../layout

block script
  script(type="text/javascript",src="/coop/javascripts/apps/require-config.js")
  script(type='text/javascript',data-main='/coop/javascripts/apps/LoginPage',src='/coop/components/requirejs/require.js')
  
block container
  h2 Log In
  p
    a.button(href='/coop/users/new') Create an account &rarr;
  form.users#login(method='post', action='/coop/sessions')
    table
      tr
        td
          label Email:
        td
          input(name='user[email]', value=user.email || '')
      tr
        td
          label Password:
        td
          input(name='user[password]', value=user.password || '', type='password')
      tr
        td
          label(for='remember_me') Remember me:
        td
          input#remember_me(type='checkbox', name='remember_me')
        td
          input.btn(type='submit', value='Log In')
      tr
        td
          a(href="/coop/forgot") I forgot my login info
block templates
  script#help-text(type='text/template')
    p
      | Help text!!

